/* Ling Height*/
/* Line Widget Width */
/* Line Widget Margin */
/* Element Height */
/* Element Height Within Border */
/* Element In Grid Height */
/* Element In Grid Width */
.border-visi {
  border-top: 1px #EEEEEE solid;
  border-left: 1px #EEEEEE solid;
  border-bottom: 1px #E0E0E0 solid;
  border-right: 1px #E0E0E0 solid;
}
.border-visi-re {
  border-bottom: 1px #EEEEEE solid;
  border-right: 1px #EEEEEE solid;
  border-top: 1px #E0E0E0 solid;
  border-left: 1px #E0E0E0 solid;
}
.scale-fade-0 {
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.scale-fade-1 {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.transition-on {
  -webkit-transition: all ease-in 0.2s;
  -moz-transition: all ease-in 0.2s;
  -ms-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}
.transition-li {
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
.anti-aliasing {
  -webkit-transform: scale(0.99999);
  -moz-transform: scale(0.99999);
  -ms-transform: scale(0.99999);
  transform: scale(0.99999);
}
.transition-on-color {
  transition: color ease-in 0.2s;
}
.gradient-bg {
  background-image: -webkit-gradient(linear, top left, bottom left, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.05)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
}
.spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
.content-container {
  min-height: 600px;
}
.info-frame > .row > .slice.content {
  width: 640px;
  height: auto;
  min-height: 1px;
  overflow: hidden;
  line-height: 30px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.info-frame > .row > .slice.content > img {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0;
  float: left;
}
.info-frame > .row > .slice.va {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -28px;
}
.password-modify-frame {
  position: absolute;
  width: 480px;
  top: 174px;
  left: 50%;
  margin-left: -240px;
  margin-top: 0;
  display: none;
}
.password-modify-frame > .content > .row {
  margin: 0;
  width: 100%;
}
.password-modify-frame > .content > .row.margin-bottom {
  margin-bottom: 8px;
}
.col.pmf-left {
  float: left;
  width: 115px;
}
.col.pmf-right {
  float: right;
  width: 348px;
}
.phone-bind-frame {
  position: fixed;
  width: 480px;
  top: 100px;
  left: 50%;
  margin-left: -240px;
  margin-top: 0;
  display: none;
}
.phone-bind-frame > .content .vericode {
  width: 92px;
  height: 40px;
  background-color: #EEEEEE;
  float: left;
  margin: 8px;
  position: relative;
}
.phone-bind-frame > .content .vericode > img {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
}
.phone-bind-frame > .content > .row {
  margin: 0;
  width: 100%;
}
.phone-bind-frame > .content > .row.margin-bottom {
  margin-bottom: 8px;
}
.phone-bind-frame > .content > .success-msg {
  width: 100%;
  height: 260px;
  line-height: 200px;
  text-align: center;
  font-size: 16px;
  color: #333;
}
.col.pmf-left {
  float: left;
  width: 115px;
}
.col.pmf-right {
  float: right;
  width: 348px;
}
.col.pbf-left {
  float: left;
  width: 115px;
}
.col.pbf-right {
  float: right;
  width: 348px;
}
.content.step {
  position: relative;
  height: 90px;
  min-height: 90px;
}
.content.step > .circle {
  width: 30px;
  height: 30px;
  background-color: #c5c5c5;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 15px;
  position: absolute;
  top: 15px;
}
.content.step > .circle.a {
  left: 45px;
}
.content.step > .circle.b {
  left: 225px;
}
.content.step > .circle.c {
  right: 45px;
}
.content.step > .text {
  width: 90px;
  height: 30px;
  line-height: 30px;
  color: #c5c5c5;
  position: absolute;
  top: 45px;
  text-align: center;
  font-size: 12px;
  margin: 0;
}
.content.step > .text.a {
  left: 15px;
}
.content.step > .text.b {
  left: 195px;
}
.content.step > .text.c {
  right: 15px;
}
.content.step > .line {
  position: absolute;
  height: 1px;
  width: 190px;
  top: 29px;
  border-top: 2px #c5c5c5 dashed;
}
.content.step > .line.a {
  left: 45px;
}
.content.step > .line.b {
  right: 45px;
}
.window-frame.phone-bind-frame > .ctrl > .button-frame > .button {
  display: none;
}
.window-frame.phone-bind-frame.step-1 > .step > .circle.a {
  background-color: #cc0127;
}
.window-frame.phone-bind-frame.step-1 > .step > .text.a {
  color: #cc0127;
}
.window-frame.phone-bind-frame.step-1 > .content.step-2 {
  display: none;
}
.window-frame.phone-bind-frame.step-1 > .content.step-3 {
  display: none;
}
.window-frame.phone-bind-frame.step-1 > .ctrl > .button-frame > .button.step-1 {
  display: block;
}
.window-frame.phone-bind-frame.step-2 > .step > .circle.a {
  background-color: #cc0127;
}
.window-frame.phone-bind-frame.step-2 > .step > .circle.b {
  background-color: #cc0127;
}
.window-frame.phone-bind-frame.step-2 > .step > .text.a {
  color: #cc0127;
}
.window-frame.phone-bind-frame.step-2 > .step > .text.b {
  color: #cc0127;
}
.window-frame.phone-bind-frame.step-2 > .step > .line.a {
  border-color: #cc0127;
}
.window-frame.phone-bind-frame.step-2 > .content.step-1 {
  display: none;
}
.window-frame.phone-bind-frame.step-2 > .content.step-3 {
  display: none;
}
.window-frame.phone-bind-frame.step-2 > .ctrl > .button-frame > .button.step-2 {
  display: block;
}
.window-frame.phone-bind-frame.step-3 > .step > .circle.a {
  background-color: #cc0127;
}
.window-frame.phone-bind-frame.step-3 > .step > .circle.b {
  background-color: #cc0127;
}
.window-frame.phone-bind-frame.step-3 > .step > .circle.c {
  background-color: #cc0127;
}
.window-frame.phone-bind-frame.step-3 > .step > .text.a {
  color: #cc0127;
}
.window-frame.phone-bind-frame.step-3 > .step > .text.b {
  color: #cc0127;
}
.window-frame.phone-bind-frame.step-3 > .step > .text.c {
  color: #cc0127;
}
.window-frame.phone-bind-frame.step-3 > .step > .line.a {
  border-color: #cc0127;
}
.window-frame.phone-bind-frame.step-3 > .step > .line.b {
  border-color: #cc0127;
}
.window-frame.phone-bind-frame.step-3 > .content.step-1 {
  display: none;
}
.window-frame.phone-bind-frame.step-3 > .content.step-2 {
  display: none;
}
.window-frame.phone-bind-frame.step-3 > .ctrl > .button-frame > .button.step-3 {
  display: block;
}
